header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  background-color: rgb(99, 99, 209);
  padding-top: 30px;
}

header h1 {
  font-size: medium;
}

header p {
  font-size: small;
}

header > div > p {
  font-weight: bold;
}
body {
  background-color: rgb(245, 227, 191);
}

section > div {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  background-color: hwb(34 40% 19%);
}

section > div > p {
  font-size: 18px;
  font-weight: inherit;
}

section > div > a {
  display: flex;
  justify-content: space-around;
  zoom: 2;
  background-color: purple;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: hwb(34 40% 19%);
  font-weight: bolder;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

label > div > p {
  display: flex;
  justify-content: left;
  text-decoration: line-through;
}

.box1 {
  display: flex;
  text-align: center;
}

.box2 {
  display: flex;
  text-align: center;
}

.box3 {
  display: flex;
  text-align: center;
  padding-bottom: 100px;
}

.price {
  display: flex;
  padding-left: 240px;
  text-decoration: none;
}
.price1 {
  display: flex;
  padding-left: 260px;
  text-decoration: none;
}

.price2 {
  display: flex;
  padding-left: 225px;
  text-decoration: none;
}

[id="sugar"] {
  text-decoration: none;
}

footer {
  clear: both;
  position: relative;
  height: 100px;
  margin-top: 200px;
  background-color: rgb(99, 99, 209);
}

footer p {
  text-align: center;
  padding-top: 35px;
}

h2 {
  font-weight: bolder;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgb(245, 227, 191);
}
button {
  height: 35px;
  width: 100px;
  background-color: rgb(99, 99, 209);
}

[id="line"] {
  border-bottom: 2px solid black;
}

h3 {
  text-align: right;
}
